@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

a.active p{
    color: #06AED5
}

* {
    font-family: poppins;
}

footer a:hover{
    color: #06AED5
}

#card_1:hover > p {
    color: white;
}
#card_1:hover > img {
    background-color: white;
}
#card_2:hover > p {
    color: white;
}
#card_2:hover > img {
    background-color: white;
}
#card_3:hover > p {
    color: white;
}
#card_3:hover > img {
    background-color: white;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width:640px) {
    a.active {
        background-color: #06AED5;
        color: white
    }
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }